div{
    
    text-align: center;
    width:50%;
    margin-left:25%;
    height:50%;
    margin-top:100px;
    
  
}

h1{
    color:white;
    font-family:"Libre Baskerville",serif;
    text-align: center;
    text-transform: uppercase;
}
h2{
    color:white;
    text-align: center;
}
body{
    background-color: black;
}
img{
    border:solid 5px;
    border-color: white;
    width:100%;
}